* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
h1 {
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: 3rem;
}

p {
  line-height: 1.5;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

.title {
  margin-bottom: 40px;
}

main {
  background-color: hsl(0deg, 0%, 40%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-block-start: 120px;
  padding-block-end: 120px;
}

.intro-chunk{
  max-width: 415px;
  background-color: hsl(0deg, 0%, 100%);
}

.card {
  padding: 24px;
  margin-left: -24px;
  background-color: hsl(0deg, 0%, 100%);;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  width: fit-content;
  margin: 0;
  margin-left: -32px;
  margin-top: -16px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);

}